.songs
    // position: relative
    padding-bottom: 24px;
    display: flex
    flex-wrap: wrap
    width: 100%
    .recommend-list
        background: url('http://p1.music.126.net/eDufAKSriJrnR3X51vBclA==/109951162981585955.webp?imageView&thumbnail=369x0&quality=75&tostatic=0&type=webp') no-repeat
        background-size: contain
        width: 33%;
        height: 135px;