.hot
    .hotop
        width: 100%;
        padding: 0
        margin: 0
        position: relative;
        padding-top: 38.9%;
        overflow: hidden;
        background: url(//s3.music.126.net/m/s/img/hot_music_bg_2x.jpg?f01a252389c26bcf016816242eaa6aee) no-repeat;
        background-size: contain;
        .hotopct
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            -webkit-box-pack: center;
            justify-content: center;
            z-index: 2;
            padding-left: 20px;
            box-sizing: border-box;
        .hoticon
            width: 142px;
            height: 67px;
            background-position: -24px -30px;
            background-image: url(//s3.music.126.net/m/s/img/index_icon_3x.png?49a82fee3e0fc602e9c8b25df2bda159);
            background-size: 166px 97px;
        .hottime
            margin-top: 10px;
            color: hsla(0,0%,100%,.8);
            font-size: 12px;
            transform: scale(.91)
            text-align: left
            transform-origin: left top;
    .hotcont
        position: relative;
        .m-sgitem
            display: flex;
            padding-left: 10px
            .sgfl
                display: flex
                -webkit-box-align: center;
                align-items: center;
                width: 28px;
                font-size: 17px;
                color: #999;
            .sgfl-cred
                color: #df3436;
            .sgfr
                -webkit-box-flex: 1;
                flex: 1 1 auto;
                display: -webkit-box;
                display: flex;
                position: relative;
                .sgchfl
                    -webkit-box-flex: 1;
                    flex: 1 1 auto;
                    padding: 6px 0;
                    width: 0;
                .f-thide
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    word-break: normal;
                .sgtl
                    font-size: 17px;
                .sgalia
                    color: #888;
                    margin-left: 4px;
                .sginfo
                    font-size: 12px;
                    color: #888;
                .sgchfr
                    display: -webkit-box;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    padding: 0 10px;
                    .sgchply
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        background-position: -24px 0;
                        background-image: url(//s3.music.126.net/m/s/img/index_icon_3x.png?49a82fee3e0fc602e9c8b25df2bda159);
                        background-size: 166px 97px;