theme-red = #d43c33
theme-blue = #1E90FF
theme-green = #00EE00
theme-pink = #FF83FA
theme-violet = #9932CC

.theme-red
    background-color: theme-red !important
.theme-blue
    background-color: theme-blue !important
.theme-green
    background-color: theme-green !important
.theme-pink
    background-color: theme-pink !important
.theme-violet
    background-color: theme-violet !important

.theme-red-color
    color: theme-red !important
    &:after
        background: theme-red !important
.theme-blue-color
    color: theme-blue !important
    &:after
        background: theme-blue !important
.theme-green-color
    color: theme-green !important
    &:after
        background: theme-green !important
.theme-pink-color
    color: theme-pink !important
    &:after
        background: theme-pink !important
.theme-violet-color
    color: theme-violet !important
    &:after
        background: theme-violet !important