.recommend
    padding-top: 20px
    .recommend-title
        position: relative
        padding-left: 9px
        margin-bottom: 14px
        font-size: 17px
        height: 20px
        line-height: 20px
        &:after
            content: " ";
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -9px;
            width: 2px;
            height: 16px;
            background-color: #d33a31;
    .hotcont
        position: relative;
        .m-sgitem
            display: flex;
            padding-left: 10px
            .sgfl
                display: flex
                -webkit-box-align: center;
                align-items: center;
                width: 28px;
                font-size: 17px;
                color: #999;
            .sgfl-cred
                color: #df3436;
            .sgfr
                -webkit-box-flex: 1;
                flex: 1 1 auto;
                display: -webkit-box;
                display: flex;
                position: relative;
                border-bottom 0.5px solid #EBEBEB
                .sgchfl
                    -webkit-box-flex: 1;
                    flex: 1 1 auto;
                    padding: 6px 0;
                    width: 0;
                .f-thide
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    word-break: normal;
                .sgtl
                    font-size: 17px;
                .sgalia
                    color: #888;
                    margin-left: 4px;
                .sginfo
                    font-size: 12px;
                    color: #888;
                .sgchfr
                    display: -webkit-box;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    padding: 0 10px;
                    .sgchply
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        background-position: -24px 0;
                        background-image: url(//s3.music.126.net/m/s/img/index_icon_3x.png?49a82fee3e0fc602e9c8b25df2bda159);
                        background-size: 166px 97px;